<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47249699259-r0qm3m37i6o7heqbnupqihv2o96gdv4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47249699259-r0qm3m37i6o7heqbnupqihv2o96gdv4v</string>
	<key>API_KEY</key>
	<string>AIzaSyDKr1tXbYqAjEud_LLXoh1w4ycFd-JtFN0</string>
	<key>GCM_SENDER_ID</key>
	<string>47249699259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldmessage.test</string>
	<key>PROJECT_ID</key>
	<string>gold-message</string>
	<key>STORAGE_BUCKET</key>
	<string>gold-message.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47249699259:ios:5e5400740e263ce8</string>
	<key>DATABASE_URL</key>
	<string>https://gold-message.firebaseio.com</string>
</dict>
</plist>